/* Home Page css */

.home-space{
    margin: 0rem 5rem;
}
.heading-two{
    color: #6E00BE;
    font-weight: bolder;
}
.home-para{
    font-size: 1.3rem;
}
.heading-one{
    font-size: 3.6rem;
    text-align: start;
}
.login-btn{
    background-color: #6E00BE;
    border-radius: 5px;
    padding: 0.45rem 1rem;
    text-decoration: none;
    color: white;
}
.login-btn:hover{
  background: linear-gradient(to right,#d9b5f2,#6E00BE);
}
.button{
    text-decoration: none;
    border: white;
    font-size: 1.3rem;

}
.step-box{
    height: 350px;
}
.step-box:hover {
    background-color: #a649e9;
    color: white;
    /* transform: translateX(-50%); */
    transition: top 0.4s ease, opacity 0.4s ease;
}
.steps-heading{
    /* color: #; */
    /* font-weight: bolder; */
    font-size: 2.5rem;
    padding: 4rem 0px;
}
.step{
    background-color: #a649e9;
    border-radius: 10px;
    color: white;
    width: 15rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mission{
    margin: 4rem 0rem;
    background-color: #d7cbe0;
    width:100%;
    color: black;
}
.icons-seeker{
    color: #a649e9;
    font-size: 1.6rem;
}
.seeker-row{
    margin-top: 7rem;
}
.seeker-part{
    line-height: 2;
}
.seeker-col{
    height: 500px;
}
.seeker-btn{
    background-color: #6E00BE;
   border-radius: 5px;
   font-size: 1.1rem;
   padding: 0.30rem 2rem;
   color: white;
}
.seeker-btn:hover{
  background: linear-gradient(to right,#d9b5f2,#6E00BE);

}
.seeker-Link{
    text-decoration: none;
    color: white;
}
.seeker-img{
    height: 500px;
}


